<h3 class="page-title">LISTA DE TAREAS</h3>
<div class="tarea-container">
  <mat-card
    class="tarea-card"
    *ngFor="let tarea of tareas"
    [ngClass]="{
      'tarea-card-complete': tarea.estado,
      'tarea-card-pending': !tarea.estado
    }"
  >
    <mat-card-header>
      <mat-card-subtitle
        >{{ tarea.fechaYHora | toLocaleDate }} |
        {{ tarea.fechaYHora | toLocaleTime }}</mat-card-subtitle
      >
      <mat-card-title
        ><br />
        <h4>{{ tarea.titulo }}</h4>
      </mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <p>{{ tarea.descripcion | cutString : 30 }}</p>
      <br />
      <div class="actions-tarea">
        <button mat-raised-button color="primary" (click)="openDialog(tarea)">
          Ver detalle
        </button>
        <button mat-raised-button color="warn" (click)="eliminar(tarea)">
          Eliminar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
