@import "variables.style"

*
    margin: 0
    box-sizing: border-box

.page-title
    margin-bottom: 20px

.form
    // background-color: red
    width: 80%
    margin: auto
    padding: 20px
    border: 1px solid $border-form
    border-radius: 15px

mat-form-field
    width: 100%

textarea
    height: 150px !important

.mat-expansion-panel-body
    padding: 0 !important

@media (min-width: 760px) and (max-width: 1279px)
    .form
        width: 80%

@media (max-width: 759px)
    .form
        width: 100%
