<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <h4>
      <mat-toolbar> Menu </mat-toolbar>
    </h4>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="nav-link-active"
        mat-list-item
        routerLink=""
        >Home</a
      >
    </mat-nav-list>
    <mat-expansion-panel
      *ngFor="let item of menu"
      (opened)="(true)"
      (closed)="(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ item.nombre }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list *ngFor="let link of item.elementos">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="nav-link-active"
          mat-list-item
          routerLink="{{ link.url }}"
          >{{ link.nombre }}</a
        >
      </mat-nav-list>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="titulo-dashboard">
        <h3>{{ title }}</h3>
        <div>
          <button mat-flat-button color="warn" *ngIf="usuario">LogOut</button>
        </div>
      </div>
    </mat-toolbar>
    <app-dashboard> </app-dashboard>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
