.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0;
}

.mat-mdc-list-base {
  display: inline !important;
}

.mat-expansion-panel-header {
  padding: 0 15px !important;
}

.nav-link-active {
  background-color: rgb(183, 216, 218);
}

.titulo-dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.link-not-visible {
  display: none;
}

.link-visible {
  display: block;
}
